body, html {
    background-color: rgb(50, 50, 50);
    justify-content: center;
    align-items: center;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    user-select: none;
}

/* Classes and divs*/

.title-bar {
    text-align: center;
    position: sticky;
    margin: 0;
    padding: 0;
    top: 0px;
    width: 100%;
    height: 60px;
    background-color: rgb(18, 124, 211);
    box-shadow: 0 0 6px rgb(18, 124, 211);
    vertical-align: baseline;
}

.main-controls {
    position: absolute;
    align-items: center;
    padding-left: 1%;
    float: right;
}

.main-triangle {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid rgb(18, 124, 211);
}

/* Headers and text styling */
h1 {
    -webkit-user-select: none;
    font-family: neue-haas-grotesk-display,sans-serif;
    color: whitesmoke;
    font-weight: 700;
    font-size: 25px;
    padding-top: 1%;
}

h2 {
    -webkit-user-select: none;
    font-family: neue-haas-grotesk-display,sans-serif;
    color: whitesmoke;
    font-weight: 600;
    font-size: 25px;
    padding-top: 1%;
}

h3 {
    -webkit-user-select: none;
    font-family: neue-haas-grotesk-display,sans-serif;
    color: rgb(18, 124, 211);
    font-weight: 600;
    font-size: 15px;
    display: none;
}

/* Text fields, inputs, buttons */

/* div for formatting controls */
.content-align {
    align-items: center;
    width: 30%;
    height: 500px;
    margin: 1% 0 0 0;
    border-radius: 0.81rem;
}

input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    box-sizing: border-box;
    border-bottom: 3px solid rgb(18, 124, 211);
    border-radius: 15px;
    outline: none;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}

input[type=number]:focus { /* Modify the style when the user has selected the number input box */
    -webkit-transition: 0.5s;
    border-bottom: 3px solid gray;
}

label {
    -webkit-user-select: none;
    font-weight: 600;
    font-size: 25px;
    word-spacing: 2px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.64);
    font-family: neue-haas-grotesk-display,sans-serif;
    color: whitesmoke;
}

.btn {
    outline: none;
    border: none;
    white-space: nowrap;
    cursor: pointer;
    font-family: neue-haas-grotesk-display,sans-serif;
    font-size: 20px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.64);
    font-weight: 700;
    color: whitesmoke;
    box-shadow: 0 0 6px rgb(18, 124, 211);
}

.btn-main {
    outline: none;
    border-radius: 2.0rem;
    background-color: rgb(18, 124, 211);
    padding: 15px 35px
}

.btn-padding {
    margin-top: 5%;
}